body {
  margin: 0;
  background-color: #f2f2f2;
}

#root {
  height: 100vh;
  width: 100%;
  display: flex;
}

main {
  width: 100%;
  max-width: 640px;
  margin: auto;
}

.mdc-spinner {
  margin: auto;
}
